body {
    background-image: url("images/cave.jpeg")

}

.gamename {
    width: 560px;
    font-size: 25px;
    color: red;
}

.rules{
    height: 400px;
    width: 600px;
}

p {
    color: yellow;
    font-size: 25px;
}

#row {
    height: 310px;
    width: 600px;
    color: red;
}

.scoreboard {
    height: 300px;
    width: 400px;
    color: red;
    float: left;
}

#numberToGuess {
    color: red;
}

.objective {
    height: 200px;
    width: 280px;
    color: red;
    float: right;
    font-size: 20px;


}

#crystals {
    height: 300px;
    width: 600px;
}

#red {
    height: 100px;
    width: 150px;
    float: left;
}

#blue {
    height: 100px;
    width: 150px;
    float: left;
}

#purple{
    height: 100px;
    width: 150px;
    float: left;
}

#green {
    height: 100px;
    width: 150px;
    float: left;
}